{% extends "base.html" %}
{% load static %}

{% block title %}{{ entry.activeTitle }} - Steampunk Games{% endblock %}

{% block head %}
<meta name="keywords" content="steampunk, games, gaming, {{ entry.game.name }}">

<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@steampunkgs" />
<meta name="twitter:title" content="{{ entry.activeTitle }}" />
<meta name="twitter:description" content="{{ entry.activeLede }}" />
<meta name="twitter:image" content="http://steampunk-games.com/media/{{ entry.bestSquareThumbImage }}" />
{% endblock %}

{% block content %}
<div id="header">
    <img src="{% static "steampunkgames/img/header-calligraphy-1.png" %}">
    <h1>{{ entry.activeTitle }}</h1>
    <img src="{% static "steampunkgames/img/header-calligraphy-2.png" %}">
</div>
{% if entry.game %}
<div id="gameInfo">
    <a href="{% url "game" entry.game.slug %}">{{ entry.game.name }}</a>
    <a href="{% url "game" entry.game.slug %}"><img src="/media/{{ entry.game.image }}"></a>
</div>
{% endif %}
<div id="authorInfo">
    <a href="{% url "author" entry.owner.username %}"><img src="/media/{{ entry.owner.profile.image }}" id="authorImage"></a>
    {% if entry.devLog %}
        <abbr title="An article by a game creator about their own game.">Dev Log</abbr> by
    {% else %}
        <abbr title="An article by a game creator about a topic other than their own game.">Article</abbr> by
    {% endif %}
    <a href="{% url "author" entry.owner.username %}">{{ entry.owner.profile.displayName }}</a>
    {% if entry.owner.profile.twitter %}
        <a href="{{entry.owner.profile.twitter}}"><img src="{% static "steampunkgames/img/twitter.png" %}" style="position: relative; top: 4px; left: 0.5em;"></a>
    {% endif %}
</div>
<div id="main">
    <p class="lede">{{ entry.activeLede }}</p>
    {{ entry.activeText|safe }}
</div>
{% endblock %}
