{% extends "base.html" %}
{% load static %}

{% block title %}{{ entry.title }} - Steampunk Games{% endblock %}

{% block content %}
<div id="header">
    <img src="{% static "steampunkgames/img/header-calligraphy-1.png" %}">
    <h1>{{ entry.title }}</h1>
    <img src="{% static "steampunkgames/img/header-calligraphy-2.png" %}">
</div>
{% if entry.game %}
<div id="gameInfo">
    <a href="{% url "game" entry.game.slug %}">{{ entry.game.name }}</a>
    <a href="{% url "game" entry.game.slug %}"><img src="/media/{{ entry.game.image }}"></a>
</div>
{% endif %}
<div id="authorInfo">
    <a href="{% url "author" entry.owner.username %}"><img src="/media/{{ entry.owner.profile.image }}" id="authorImage"></a>
    {% if entry.devLog %}
        <abbr title="An article by a game creator about their own game.">Dev Log</abbr> by
    {% else %}
        <abbr title="An article by a game creator about a topic other than their own game.">Article</abbr> by
    {% endif %}
    <a href="{% url "author" entry.owner.username %}">{{ entry.owner.profile.displayName }}</a>
    {% if entry.owner.profile.twitter %}
        <a href="{{entry.owner.profile.twitter}}"><img src="{% static "steampunkgames/img/twitter.png" %}" style="position: relative; top: 4px; left: 0.5em;"></a>
    {% endif %}
</div>
<div id="main">
    <p>This is an article preview. You can share this secret URL with others to let them see the article before you publish it.</p>
    <p>{{ entry.lede }}</p>
    {{ entry.text|safe }}
</div>
{% endblock %}
